.leftside{
    padding: 10px;
    float: left;
}
.rightside{
    padding: 10px;
    float: left;
    text-align: left;
    line-height: 40px;
}
.details{
    display: flex;
    background-color: rgb(220, 220, 220);
}
.header{
    text-align: left;
    background-color: grey;
    color: white;
    padding: 10px;
}
*{
    margin: 0;
}
.users{
    padding: 10px;
}
summary::after {
    content: '⮝';
    float: right;
}
details[open] summary:after {
    content: '⮟';
    float: right;
}
details>summary {
    list-style: none;
}